/* Banner component */
.banner {
  background-image: url("../../images/pots_banner.jpg"), linear-gradient(rgba(13, 11, 11, 0.3),rgba(16, 4, 4, 0.5));
  background-size: cover;
  height: 500px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-details h1,
.banner-details p {
  color: white;
  text-shadow: 2px 2px 10px rgb(61, 61, 61);
  margin: 0;
}
