.card h3 {
  color:rgb(151, 94, 24)
}

.card p {
  color:rgb(182, 154, 121);
}

.card {
  width: 230px;
  height: 250px;
  box-shadow: 0px 0px 5px rgb(219, 219, 219);
  text-align: center;
  margin: 0 50px;
  font-size: small;
}

.card img {
  width: 80px;
  height: 80px
}

.card-container {
  display: flex;
  justify-content: center;
}

.container {
  padding: 25px;
}

.container h2 {
  margin-top: 0
}
